.container {
    max-width: 75%;
    background-color: #eee;
    max-height: 90vh;
    margin: 0 auto;
    margin-top: 5em;
    border-radius: 5px;
    box-shadow: 2px 4px 6px #000;
    display: flex;
    align-items: center;
  
}

.container-sub1{
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 87% 0, 100% 100%, 0% 100%);
  background-color: #fc325b;
}

.image1 {
  height: 500px;
  width: 100%;
  margin-left: -.5em;
  
}
.logo-container{
  display: flex;
  align-items: center;
  margin-top: -1em;
  
}
.logo{
  background-color: transparent;
  width: 50px;
  height: 50px;
}

.header1 {
  color: #fd224e;
  font-size: 2.2rem;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: .06rem;
  text-shadow: 1px 2px 3px #000;

}
.header2{
  color: #656466;
  font-size: 1.1rem;
  margin-left: 5em;
  margin-top: -.1em;
}
form {
  margin-right: 4em;
  padding: .5em;
}
input {
  padding: 1em;
  margin: 1em;
  width: 420px;
  border-radius: 3px;
  box-shadow: .5px 1px 2px #999;
  border-style: none;
  
  
}
input:focus{
  outline: none;
  border-bottom: 3px solid #fd224e;
  
}
