*,
 *::before,
 *::after {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }
 
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(45deg, #91918fe1, #5c5c59e1), url(https://images.pexels.com/photos/267507/pexels-photo-267507.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #eee;
  font-size: 1.8rem;
  height: 100vh;
}

